[submodule "samples/solace-samples-nodejs"]
	path = samples/solace-samples-nodejs
	url = https://github.com/SolaceSamples/solace-samples-nodejs.git
[submodule "samples/solace-samples-python"]
	path = samples/solace-samples-python
	url = https://github.com/SolaceSamples/solace-samples-python.git
